<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.easygo.activity">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <application
        android:name="com.easygo.application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PlusActivity">
        </activity>
        <activity android:name=".HomeCityActivity">
        </activity>
        <activity android:name=".HouseDetailActivity">
        </activity>
        <activity android:name=".ReleasesroomActivity">
        </activity>
        <activity android:name=".LogintestActivity"/>
        <activity android:name=".BookActivity">
        </activity>
        <activity android:name=".RegisterActivity">
        </activity>
        <activity android:name=".SelectCityActivity">
        </activity>
        <activity android:name=".SetActivity">
        </activity>
        <activity android:name=".FeedbackActivity">
        </activity>
        <activity android:name=".AboutusActivity">
        </activity>
        <activity android:name=".HouseCollectionActivity">
        </activity>
        <activity android:name=".FootPrintActivity">
        </activity>
        <activity android:name=".CustomOrderActivity">
        </activity>
        <activity android:name=".UserLinkmanActivity">
        </activity>
        <activity android:name=".BookChooseLinkmanActivity">
        </activity>
        <activity android:name=".MyInfomationActivity">
        </activity>
        <activity android:name=".CalendarActivity">
        </activity>
        <activity android:name=".OrderDetailActivity">
        </activity>
        <activity android:name=".MyWalletActivity">
        </activity>
    </application>

</manifest>